# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django-specific files
*.log
*.pot
*.py[cod]
db.sqlite3
*.sqlite3

# Django migrations
*/migrations/*

# Static and media files
/static/
/media/

# IDEs and Editors
.vscode/
.idea/

# PyCharm
*.iml

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage
.coverage
*.cover
coverage.xml
*.hypothesis/

# Django secret key (this will vary if you have an environment-specific setup)
.env
*.env
